/* A VERTICAL event */

.fc-v-event {
  display: block;
  border: 1px solid var(--fc-event-border-color);
  background-color: var(--fc-event-bg-color);
}

.fc-v-event .fc-event-main {
  color: var(--fc-event-text-color);
  height: 100%;
}

.fc-v-event .fc-event-main-frame {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fc-v-event .fc-event-time {
  flex-grow: 0;
  flex-shrink: 0;
  max-height: 100%;
  overflow: hidden;
}

.fc-v-event .fc-event-title-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0; /* important for allowing to shrink all the way */
}

.fc-v-event .fc-event-title {
  top: 0;
  bottom: 0;
  max-height: 100%; /* clip overflow */
  overflow: hidden;
}

.fc-v-event:not(.fc-event-start) {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fc-v-event:not(.fc-event-end) {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fc-v-event.fc-event-selected:before {
  /* expand hit area */
  left: -10px;
  right: -10px;
}

/* resizer (mouse AND touch) */

.fc-v-event .fc-event-resizer-start {
  cursor: n-resize;
}

.fc-v-event .fc-event-resizer-end {
  cursor: s-resize;
}

/* resizer for MOUSE */

.fc-v-event:not(.fc-event-selected) .fc-event-resizer {
  height: var(--fc-event-resizer-thickness);
  left: 0;
  right: 0;
}

.fc-v-event:not(.fc-event-selected) .fc-event-resizer-start {
  top: calc(var(--fc-event-resizer-thickness) / -2);
}

.fc-v-event:not(.fc-event-selected) .fc-event-resizer-end {
  bottom: calc(var(--fc-event-resizer-thickness) / -2);
}

/* resizer for TOUCH (when event is "selected") */

.fc-v-event.fc-event-selected .fc-event-resizer {
  left: 50%;
  margin-left: calc(var(--fc-event-resizer-dot-total-width) / -2);
}

.fc-v-event.fc-event-selected .fc-event-resizer-start {
  top: calc(var(--fc-event-resizer-dot-total-width) / -2);
}

.fc-v-event.fc-event-selected .fc-event-resizer-end {
  bottom: calc(var(--fc-event-resizer-dot-total-width) / -2);
}
