<div class="dashboard-container">
  <div class= 'user-main' *ngIf="userLoaded">
    <div class="title">
    <div class="logo">
      <h2>TetriPlan</h2>
    </div>
    <div class="navbar">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/login">Reports</a>
      <a routerLink="/login">Login</a>
    </div>
  </div>
    <div class="user-content">
      <div class="user-details">
        <div class="welcome-message">
          {{ welcomeMessage }}
        </div>
        <div class="mini-calendar">
          <app-mini-calendar [loggedInUserName]="loggedInUserName"></app-mini-calendar>
        </div>
      </div>
      <div class="task-message">
        {{ taskMessage }}
      </div>
      <div class="add-task">
        <img class='addButton'src="assets/addTask.png" (click)="openAddTaskModal()" alt="Add Task"/>
      </div>
      <div class="task-list">
        <app-task-list [loggedInUserName]="loggedInUserName"></app-task-list>
      </div>
    </div>
    <div class="day-view-calendar">
      <app-day-view-calendar [loggedInUserName]="loggedInUserName"></app-day-view-calendar>
    </div>
  </div>
</div>
  
  
  