<div class="dashboard-container">
  <div class= 'user-main' *ngIf="userLoaded">
    <div class="title">
    <div class="logo">
      <h2><img class='logoTitle' src="assets/logo2.png" alt="Logo">
      TetriPlan
      </h2>
    </div>
    <div class="navbar">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/report">Reports</a>
      <a routerLink="/login">Login</a>
    </div>
  </div>
    <div class="user-content">
      <div class="user-details">
        <div class="welcome-message">
          {{ welcomeMessage }}
        </div>
        <div class="mini-calendar">
          <section>
            <app-mini [loggedInUserName]="loggedInUserName"></app-mini>
          </section>
        </div>
        <div class="recommended-tasks">
          <button mat-button (click)="fetchRecommendedTasks()">Get AI Recommended Tasks</button>
          <div *ngIf="recommendedTasks.length === 0">
          </div>
        </div>
      </div>
      <div class="task-message">
        {{ taskMessage }}
      </div>
      <div class="add-task">
        <p><img class='addButton'src="assets/addTask.png" (click)="openAddTaskModal()" alt="Add Task"/></p><p> Add A Task </p>
      </div>
      <div class="task-list">
        <app-task-list [loggedInUserName]="loggedInUserName">
        </app-task-list>
      </div>
    </div>
    <div class="day-view-calendar">
      <app-day-view-calendar [loggedInUserName]="loggedInUserName"></app-day-view-calendar>
    </div>
  </div>
</div>
  
  