<div class="dashboard-container">
<div *ngIf="userLoaded">
  <div class="logo">
    <h2>TetriPlan</h2>
  </div>
  <div class="welcome-message">
    {{ welcomeMessage }}
  </div>
    <div>
      <app-mini-calendar [loggedInUserName]="loggedInUserName" class="mini-calendar"></app-mini-calendar>
      <app-task-list [loggedInUserName]="loggedInUserName" class="task-list"></app-task-list>
      <app-day-view-calendar [loggedInUserName]="loggedInUserName" class="day-view-calendar"></app-day-view-calendar>
  </div>
</div>
</div>
  
  
  