@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.dashboard-container {
  display: grid !important;
  grid-template-columns: 3fr 1.5fr; 
  grid-template-rows: 0.5fr 4fr;
  gap: 20px;
  align-items: start;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../../../assets/background2.png);
 
}

.user-main {
  display: contents;
}

.user-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  border-right: double;
}

.user-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr;
  gap: 20px;
  grid-column: 1;
  grid-row: 1 /span 2;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 5%;
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1;
  grid-row: 1 /span 1; /* First row */
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.logo {
  display: flex;
  align-items: center;
  grid-column: 1;
  grid-row: 1; /* First row */
}

.logoTitle {
  width: auto;
  height: 80px;
  margin-right: 8px; 
}

.logo img {
  margin: 0 !important;
}

.logo h2 {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  grid-column: 2 /span 2;
  grid-row: 1;
  font-family: "Roboto", sans-serif;
}

.navbar a {
  padding-left: 10px;
  height: 30px;
  font-size: 1.5em;
  text-decoration: none;
  color: #141414;
  /* padding-bottom: 0px !important; */
  margin-left: 10px;
  margin-right: 10px;
}

.welcome-message {
  display: flex;
  justify-content: center;
  font-family: Baphnom;
  font-size: 24px;
  margin-bottom: 20px;
  grid-column: 1;
  grid-row: 1;
  max-height: 50px;
  padding: 2px;
  border-radius: 10px;
  background-color:#43c8ab;
  color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.task-message {
  font-family: virgil;
  color: #137862;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  grid-column: 2;
  grid-row: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-task {
  display: flex;
  justify-content: center;
  grid-column: 3;
  grid-row: 1;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 200px;
  background-color: white;
  border-radius: 15px;
}

.add-task:hover {
  background-color: #95e9d8;
}

.add-task p:hover {
  color: white;
}

.add-task p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #3ab399;
  font-size: 1.5em;
  font-family: Baphnom;
}

.addButton {
  padding: 10px;
  border-radius: 25px;
  width: auto;
  height: 30px;
}

.mini-calendar,
.task-list,
.day-view-calendar {
  height: 100%;
  overflow: auto; /* Add scrolling if content overflows */
}

.mini-calendar {
  display: flex;
  grid-column: 1; /* First column */
  grid-row: 2; /* Third row */
  justify-content: center;
}

.task-list {
  display: flex;
  flex-direction: column;
  grid-column: 2 /span 3; /* Second column */
  grid-row: 2; /* Third row */
  max-height: 73vh;
  max-width: fit-content;
}

.day-view-calendar {
  grid-column: 2; /* Third column */
  grid-row: 1 / span 3; /* Third row */
  max-height: 95vh;
}

.calendar-container, .mwl-calendar-month-view, .small-logo, h2 {
  width: 100%;
}

h2 {
  font-family: Virgil;
  color: #3ab399;
  font-size: 3em;
  margin: 0 !important;
  padding-bottom: 5px;
}

.recommended-tasks button {
  font-family: Baphnom;
  border: 4px solid #43c8ab !important;
  border-radius: 15px !important;
  background-color: #43c8ab !important;
  cursor: pointer;
  width: 280px;
  align-items: center;
  margin-left: 0%;
  margin-bottom: 15%;
  padding: 10px;
  color:#ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.recommended-tasks button:hover {
  background-color: #58cdb4 !important;
  color: white;
}
