<div class="list-container" id="task-list">
<div *ngIf="tasks.length > 0">
  <ul>
    <li *ngFor="let task of tasks" [ngClass]="{'highlight-task': task._id === currentEditingTaskId,  'completed-task': task.completionStatus, 'incomplete-task': !task.completionStatus}" (click)="viewTaskDetails(task)" draggable="true"
    (dragstart)="onDragStart($event, task)">
      <h4>{{ task.taskName }}</h4>
      <p>{{ task.duration }} minutes</p>
      <p>{{ task.category }}</p>
      <p><strong>Completion Status:</strong> {{ task.completionStatus ? 'Completed' : 'Incomplete' }}</p>
      
      <!-- Button to open the modal -->
      <div class="bottom-buttons">
      <button class="edit-button" (click)="editTask(task)">Edit</button>
      <button class="delete-button"(click)="deleteTask(task._id)">Delete</button>
    </div>
    </li>
  </ul>
</div>

<div *ngIf="tasks.length === 0">
  <p>No tasks found.</p>
</div>
</div>

  
