.fc-daygrid-event { 
  position: relative; 
  white-space: nowrap;
  border-radius: 3px;
  font-size: var(--fc-small-font-size);
}

/* --- the rectangle ("block") style of event --- */

.fc-daygrid-block-event .fc-event-time {
  font-weight: bold;
}

.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
  padding: 1px;
}

/* --- the dot style of event --- */

.fc-daygrid-dot-event {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.fc-daygrid-dot-event .fc-event-title {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0; 
  overflow: hidden;
  font-weight: bold;
}

.fc-daygrid-dot-event:hover,
.fc-daygrid-dot-event.fc-event-mirror {
  background: rgba(0, 0, 0, 0.1);
}

.fc-daygrid-dot-event.fc-event-selected:before {
  /* expand hit area */
  top: -10px;
  bottom: -10px;
}

.fc-daygrid-event-dot { 
  /* the actual dot */
  margin: 0 4px;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--fc-event-border-color);
  border-radius: calc(var(--fc-daygrid-event-dot-width) / 2);
}

/* --- spacing between time and title --- */

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 3px; /* $daygrid-event-inner-margin: 3px; */
}

.fc-direction-rtl .fc-daygrid-event .fc-event-time {
  margin-left: 3px; /* $daygrid-event-inner-margin: 3px; */
}
