.fc-daygrid-day-frame,
.fc-daygrid-day-events,
.fc-daygrid-event-harness::before, 
.fc-daygrid-day-events::after {
  content: "";
  display: table;
  clear: both;
}


.fc .fc-daygrid-body {
  position: relative;
  z-index: 1; 
}

/* .fc .fc-daygrid-day {
  Assuming this class has dynamic background-color
} */

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--fc-today-bg-color);
}

.fc .fc-daygrid-day-frame {
  position: relative;
  min-height: 100%; /* Height adjusted after rows/cells naturally */
}

.fc .fc-daygrid-day-top {
  display: flex;
  flex-direction: column;
  max-width: 50px;
}

.fc .fc-day-other .fc-daygrid-day-top {
  opacity: 0.3;
}

/* Day number (within cell top) */
.fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
}

.fc .fc-daygrid-month-start { 
  font-weight: bold;
  font-size: 1.1em;
}

/* Event container */
.fc .fc-daygrid-day-events {
  margin-top: 1px; /* Margin needed for cell height computation */
}

.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  position: absolute;
  left: 0;
  right: 0;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: relative; 
  min-height: 2em;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 1em;
}

/* Event harness */
.fc .fc-daygrid-event-harness {
  position: relative;
}

.fc .fc-daygrid-event-harness-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc .fc-daygrid-bg-harness {
  position: absolute;
  top: 0;
  bottom: 0;
}

/* Background content */
.fc .fc-daygrid-day-bg .fc-non-business {
  z-index: 1;
}

.fc .fc-daygrid-day-bg .fc-bg-event {
  z-index: 2;
}

.fc .fc-daygrid-day-bg .fc-highlight {
  z-index: 3;
}

/* Events */
.fc .fc-daygrid-event {
  z-index: 6;
  margin-top: 1px;
}

.fc .fc-daygrid-event.fc-event-mirror {
  z-index: 7;
}

/* Cell bottom (within day-events) */
.fc .fc-daygrid-day-bottom {
  font-size: .85em;
  margin: 0 2px;
}

/* More link */
.fc .fc-daygrid-more-link {
  position: relative;
  z-index: 4;
  margin-top: 1px;
  max-width: 100%;
  border-radius: 3px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
}

.fc .fc-daygrid-more-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Week number */
.fc .fc-daygrid-week-number {
  position: absolute;
  z-index: 5;
  top: 0;
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
  background-color: var(--fc-neutral-bg-color);
  color: var(--fc-neutral-text-color);
}

/* Popover */
.fc .fc-more-popover .fc-popover-body {
  min-width: 220px;
  padding: 10px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 2px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
}

.fc-direction-ltr .fc-daygrid-more-link {
  float: left;
}

.fc-direction-ltr .fc-daygrid-week-number {
  left: 0;
  border-radius: 0 0 3px 0;
}

.fc-direction-rtl .fc-daygrid-more-link {
  float: right;
}

.fc-direction-rtl .fc-daygrid-week-number {
  right: 0;
  border-radius: 0 0 0 3px;
}

.fc-liquid-hack .fc-daygrid-day-frame {
  position: static; /* Expands inner absolute stuff to <td> */
}