.fc {
  /* // layout of immediate children */
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.fc,
.fc * {
  box-sizing: border-box;
}

.fc *:before,
.fc *:after {
  box-sizing: border-box;
}

.fc table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

.fc th {
  text-align: center;
}

.fc th,
.fc td {
  vertical-align: top;
  padding: 0;
}

.fc a[data-navlink] {
  cursor: pointer;
}

.fc a[data-navlink]:hover {
  text-decoration: underline;
}

.fc-direction-ltr {
  direction: ltr;
  text-align: left;
}

.fc-direction-rtl {
  direction: rtl;
  text-align: right;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid var(--fc-border-color);
}

/* 
// for FF, which doesn't expand a 100% div within a table cell. use absolute positioning
// inner-wrappers are responsible for being absolute
// TODO: best place for this? */
.fc-liquid-hack td,
.fc-liquid-hack th {
  position: relative;
}
