/* Mixin for liquid-absolute-override */
.liquid-absolute-override {
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Mixin for clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Mixin for bg-z-indexes */
.fc-non-business {
  z-index: 1;
}

.fc-bg-event {
  z-index: 2;
}

.fc-highlight {
  z-index: 3;
}

