/* Styles for scroller elements */
.fc .fc-scroller {
  -webkit-overflow-scrolling: touch;
  position: relative; /* for absolutely positioned elements within */
}

.fc .fc-scroller-liquid {
  height: 100%;
}

.fc .fc-scroller-liquid-absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
