/* Standard theme styles */
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid var(--fc-border-color); /* Match Bootstrap styling */
}

/* General styles for scroll grid */
.fc .fc-scrollgrid,
.fc .fc-scrollgrid table {
  width: 100%; /* Ensure full-width tables */
  table-layout: fixed;
}

.fc .fc-scrollgrid table {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.fc .fc-scrollgrid {
  border-collapse: separate;
  border-right-width: 0;
  border-bottom-width: 0;
}

/* Styles for liquid scrolling */
.fc .fc-scrollgrid-liquid {
  height: 100%;
}

/* Section styles within scroll grid */
.fc .fc-scrollgrid-section {
  height: 1px; /* Better than 0 for Firefox */

  > td {
    height: 1px; /* Ensure inner divs grow */
  }

  table {
    height: 1px; /* Min-height to enable liquid-height in cells */
  }
}

.fc .fc-scrollgrid-section-liquid > td {
  height: 100%; /* Better than `auto` for Firefox */
}

.fc .fc-scrollgrid-section > * {
  border-top-width: 0;
  border-left-width: 0;
}

.fc .fc-scrollgrid-section-header > *,
.fc .fc-scrollgrid-section-footer > * {
  border-bottom-width: 0;
}

.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section-footer table {
  border-bottom-style: hidden; /* Head keeps its bottom border */
}

/* Sticky styles */
.fc .fc-scrollgrid-section-sticky > * {
  background: var(--fc-page-bg-color);
  position: sticky;
  z-index: 3; /* Consider using a variable for z-index */
  /* TODO: Add box-shadow when sticking */
}

.fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > * {
  top: 0; /* Prevents a gap at the top */
  /* TODO: Adjust for Safari */
}

.fc .fc-scrollgrid-section-footer.fc-scrollgrid-section-sticky > * {
  bottom: 0; /* Known issue: bottom stickiness doesn't work in Safari */
}

/* Shim for horizontal scrollbar */
.fc .fc-scrollgrid-sticky-shim {
  height: 1px; /* Required height to create scrollbars */
  margin-bottom: -1px;
}
