.fc .fc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
}

.fc .fc-toolbar.fc-footer-toolbar {
  margin-top: 1.5em;
}

.fc .fc-toolbar-title {
  font-size: 1.2em;
  margin: 0;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0.75em; /* space between */
}

.fc-direction-rtl .fc-toolbar > * > :not(:first-child) {
  margin-right: 0.75em; /* space between */
}

.fc-direction-rtl .fc-toolbar-ltr {
  flex-direction: row-reverse;
}
