.fc .fc-view-harness {
  flex-grow: 1;
  position: relative;
  height: 300px !important;
}

/* when the harness controls the height, make the view liquid */
.fc .fc-view-harness-active > .fc-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
