/* ::ng-deep .mat-datepicker-content .mat-calendar {
  background-color: #259536 !important;
  color: rgb(190, 129, 50) !important;
} */

/* this is changing the dates box */
/* ::ng-deep .mat-calendar-table {
  background-color: #d6d639 !important;
  max-width: 100px;
  max-height: 50px;
} */

/* this is changing the dates */
/* ::ng-deep .mat-calendar-body-cell-content {
  color: white !important;
  max-width: 50%;
  max-height: 50%;
} */

/* ::ng-deep .mat-calendar-period-button,
::ng-deep .mat-calendar-next-button,
::ng-deep .mat-calendar-previous-button {
  color: rgb(190, 129, 50) !important;
} */

