/* day-view-calendar.component.css */
.day-view-calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.full-calendar {
  width: 100%;
  height: 100%;
}

.fc-timeGridDay-view, .fc-view, .fc-timegrid {
  max-height: 60vh;
  overflow: auto;
}

.fc-header-toolbar, .fc-toolbar, .fc-toolbar-ltr {
  position: absolute;
}