@import '../node_modules/@angular/material/prebuilt-themes/azure-blue.css';

@import "../node_modules/@ng-select/ng-select/themes/material.theme.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Define custom typography */
body, .mat-typography {
  font-family: 'Virgil', sans-serif;
}

.mat-display-4 {
  font-size: 112px;
  line-height: 112px;
  font-weight: 300;
}

.mat-display-3 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
}

.mat-display-2 {
  font-size: 45px;
  line-height: 48px;
  font-weight: 400;
}

.mat-display-1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
}

.mat-headline {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.mat-title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.mat-subheading-2 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.mat-subheading-1 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.mat-body-2 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.mat-body-1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.mat-caption {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.mat-button {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.mat-input {
  font-size: inherit;
  line-height: 1.125;
  font-weight: 400;
}

/* Apply custom typography to Material components */
.mat-checkbox .mat-checkbox-label {
  font-family: 'Virgil', sans-serif;
}

/* Note: Angular Material components use multiple selectors,
   you might need to be more specific based on your use case. */


/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Virgil;
    src: url(../src/assets/fonts/Virgil.ttf);
}
* {
  font-family: 'Virgil', sans-serif !important;
}

/* Override Angular Material default typography */
.mat-typography-h1, 
.mat-typography-h2, 
.mat-typography-h3, 
.mat-typography-h4, 
.mat-typography-h5, 
.mat-typography-h6, 
.mat-typography-body-1, 
.mat-typography-body-2, 
.mat-typography-caption, 
.mat-typography-button, 
.mat-typography-subtitle-1, 
.mat-typography-subtitle-2 {
  font-family: 'Virgil', sans-serif !important;
}

body.loading {
  cursor: wait;
}

.cdk-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; /* Ensure it has a high z-index */
}

/* Center the dialog */
.cdk-overlay-pane {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Additional styling for the task modal */
.task-modal {
  display: flex;
  justify-content: center;
  align-self: center;
  width: auto;
  max-height: 100vh;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 20px;
  overflow-y: auto;
}


.mat-mdc-dialog-content {
  max-width: 90vw;
  max-height: 90vh !important;
  overflow: visible;
}

.mat-mdc-dialog-surface {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-mdc-form-field {
  padding: 10px;
}

form {
  width: 500px;
  text-align: center;
}
/* Container for the date picker */
/* .mat-datepicker-content {
  z-index: 1001; /* Ensure this is higher than the modal's z-index */
  /* transform: translate(100%, -100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */ 


