/* Example styling */
.mat-calendar .mat-calendar-body-cell {
    position: relative;
  }
  
  .task-list {
    margin-top: 10px;
    color: black;
  }
  
  .task-list li {
    cursor: pointer;
    padding: 5px;
    color: black;
  }
  
  .task-list li:hover {
    background-color: #f0f0f0;
  }





