/* mini-calendar.component.css */

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.full-calendar {
  width: 100%;
  height: 100%;
}

.fc-view-harness, .fc-view-harness-active {
  min-height: 300px !important;
}